@import url('https://fonts.googleapis.com/css2?family=Roboto');

html, body{
    margin: 0;
    padding: 0;
}  

h1, h2, h3, img, p {
    margin: 0;
}

div {
    width: auto;
    height: auto;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 0px 200px;
    justify-content: space-between;
    font-family: Roboto;
    color: #F9FAF8;
}

h3{
    font-size: 24px;
    font-style: bold;
}

.header-text {
    padding: 20px 0px;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;
}



.hero {
    background-color: #1F2937;
    padding: 0px 200px;
}

.info {
    background-color: white;
    padding: 0px 200px;
}

.quote {
    background-color: #e5e7eb;
    padding: 0px 200px;
}

.cta {
    background-color: white;
    padding: 0px 200px;
}

.footer {
    background-color: #1F2937;
    padding: 0px 200px;
}